{
  "x-generator": "NSwag v13.11.3.0 (NJsonSchema v10.4.4.0 (Newtonsoft.Json v12.0.0.0))",
  "swagger": "2.0",
  "info": {
    "title": "DB Service",
    "version": "1.0.0"
  },
  "host": "iifldbsvc.erzqa.com",
  "schemes": [
    "https",
    "http"
  ],
  "paths": {
    "/BflEnumMaster/GetMerchantDetails": {
      "get": {
        "tags": [
          "BflEnumMaster"
        ],
        "operationId": "BflEnumMaster_GetMerchantDetails",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "type": "string",
            "name": "enumCode",
            "in": "query",
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/EnumMasterValue"
              }
            }
          }
        }
      }
    },
    "/BflEnumMaster/GetBillerDetails": {
      "get": {
        "tags": [
          "BflEnumMaster"
        ],
        "operationId": "BflEnumMaster_GetBillerDetails",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "type": "string",
            "name": "billerId",
            "in": "query",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "billerCategory",
            "in": "query",
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/ResponseOfLobMasterValue"
            }
          }
        }
      }
    },
    "/BflEnumMaster/GetLobDetail": {
      "get": {
        "tags": [
          "BflEnumMaster"
        ],
        "operationId": "BflEnumMaster_GetLobDetails",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "type": "string",
            "name": "lob",
            "in": "query",
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/ResponseOfLobMasterValue"
            }
          }
        }
      }
    },
    "/BflEnumMaster/GetSubLobDetail": {
      "get": {
        "tags": [
          "BflEnumMaster"
        ],
        "operationId": "BflEnumMaster_GetSubLobDetails",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "type": "string",
            "name": "lob",
            "in": "query",
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/ResponseOfSubLobDetails"
            }
          }
        }
      }
    },
    "/BflEnumMaster/GetChannelCodeDetail": {
      "post": {
        "tags": [
          "BflEnumMaster"
        ],
        "operationId": "BflEnumMaster_GetChannelCodeDetail",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "type": "string",
            "name": "ChannelCode",
            "in": "query",
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/ResponseOfChannelCodeMasterValue"
            }
          }
        }
      }
    },
    "/BflEnumMaster/GetAllLobDetail": {
      "post": {
        "tags": [
          "BflEnumMaster"
        ],
        "operationId": "BflEnumMaster_GetAllLobDetails",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/LobMasterValue"
              }
            }
          }
        }
      }
    },
    "/BflEnumMaster/GetAllChannelCodeDetail": {
      "post": {
        "tags": [
          "BflEnumMaster"
        ],
        "operationId": "BflEnumMaster_GetChannelCodeDetailAll",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ChannelCodeMasterValue"
              }
            }
          }
        }
      }
    },
    "/BflEnumMaster/SelectBillerDetails": {
      "post": {
        "tags": [
          "BflEnumMaster"
        ],
        "operationId": "BflEnumMaster_SelectBillerDetails",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "type": "string",
            "name": "billerCategory",
            "in": "query",
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/LobMasterValue"
            }
          }
        }
      }
    },
    "/BflEnumMaster/SelectEventByOfferType": {
      "post": {
        "tags": [
          "BflEnumMaster"
        ],
        "operationId": "BflEnumMaster_SelectEventByOfferType",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "type": "string",
            "name": "offerType",
            "in": "query",
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        }
      }
    },
    "/BflFraudReward/GetBflFraudReward": {
      "post": {
        "tags": [
          "BflFraudReward"
        ],
        "operationId": "BflFraudReward_GetBflFraudReward",
        "consumes": [
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/FraudRewardsRequest"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/PagedResponseOfListOfFraudRewardResponse"
            }
          }
        }
      }
    },
    "/BflFraudReward/GetBflFraudRewardsByIds": {
      "post": {
        "tags": [
          "BflFraudReward"
        ],
        "operationId": "BflFraudReward_GetBflFraudRewardAll",
        "consumes": [
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/FraudPolicyResponse"
              }
            }
          }
        }
      }
    },
    "/BflFraudReward/UpdateBflFraudReward": {
      "put": {
        "tags": [
          "BflFraudReward"
        ],
        "operationId": "BflFraudReward_UpdateBflFraudReward",
        "consumes": [
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateFraudRewardsRequest"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "type": "boolean"
            }
          }
        }
      }
    },
    "/BflFraudReward/ArchiveFraudLockRewards": {
      "put": {
        "tags": [
          "BflFraudReward"
        ],
        "operationId": "BflFraudReward_ArchiveFraudLockRewards",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "type": "string",
            "name": "mobileNumber",
            "in": "query",
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/FraudLockedRewards"
              }
            }
          }
        }
      }
    },
    "/BflFraudReward/GetBflFraudLockedReward": {
      "post": {
        "tags": [
          "BflFraudReward"
        ],
        "operationId": "BflFraudReward_GetBflFraudLockedReward",
        "consumes": [
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              }
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/FraudLockedRewards"
              }
            }
          }
        }
      }
    },
    "/BflMerchant/GetMerchantDetailsByListOfId": {
      "post": {
        "tags": [
          "BflMerchant"
        ],
        "operationId": "BflMerchant_GetMerchantDetailsByListOfId",
        "consumes": [
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "merchantIds",
            "in": "body",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/MerchantDetailsResponse"
              }
            }
          }
        }
      }
    },
    "/BflMerchant/GetMerchantDetails": {
      "get": {
        "tags": [
          "BflMerchant"
        ],
        "operationId": "BflMerchant_GetMerchantDetails",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        }
      }
    },
    "/BflMerchant/UpsertGroupMerchantMaster": {
      "post": {
        "tags": [
          "BflMerchant"
        ],
        "operationId": "BflMerchant_UpsertGroupMerchantMaster",
        "consumes": [
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GroupMerchantMasterRequest"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/ResponseWithStatusOfInteger"
            }
          }
        }
      }
    },
    "/BflMerchant/UpsertGroupMerchantlobMapping": {
      "post": {
        "tags": [
          "BflMerchant"
        ],
        "operationId": "BflMerchant_UpsertGroupMerchantlobMapping",
        "consumes": [
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GroupMerchantlobMapping"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/ResponseWithStatusOfBoolean"
            }
          }
        }
      }
    },
    "/BflMerchant/SelectMerchantCategory": {
      "post": {
        "tags": [
          "BflMerchant"
        ],
        "operationId": "BflMerchant_SelectMerchantCategory",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "type": "string",
            "name": "EnumMasterText",
            "in": "query",
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/ResponseWithStatusOfSelectMerchantCategory"
            }
          }
        }
      }
    },
    "/BflMerchant/SelectMerchantCityMaster": {
      "post": {
        "tags": [
          "BflMerchant"
        ],
        "operationId": "BflMerchant_SelectMerchantCityMaster",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "type": "string",
            "name": "CityName",
            "in": "query",
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/ResponseWithStatusOfSelectMerchantCityMaster"
            }
          }
        }
      }
    },
    "/BflMerchant/SelectMerchantMaster": {
      "post": {
        "tags": [
          "BflMerchant"
        ],
        "operationId": "BflMerchant_SelectMerchantMaster",
        "consumes": [
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SelectMerchantMasterRequest"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/ResponseWithStatusOfBoolean"
            }
          }
        }
      }
    },
    "/BflMerchant/InsertMerchantMaster": {
      "post": {
        "tags": [
          "BflMerchant"
        ],
        "operationId": "BflMerchant_InsertMerchantMaster",
        "consumes": [
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/MerchantMasterRequest"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/ResponseWithStatusOfInteger"
            }
          }
        }
      }
    },
    "/BflMerchant/GetGroupMerchantMaster": {
      "post": {
        "tags": [
          "BflMerchant"
        ],
        "operationId": "BflMerchant_GetGroupMerchantMaster",
        "consumes": [
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AllGroupMerchantMasterRequest"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/ResponseWithStatusOfGroupMercahntMasterDetails"
            }
          }
        }
      }
    },
    "/BflMerchant/SelectMerchantMasterByGroupMerchantCode": {
      "post": {
        "tags": [
          "BflMerchant"
        ],
        "operationId": "BflMerchant_SelectMerchantMasterByGroupMerchantCode",
        "consumes": [
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SelectMerchantMasterByGroupMercantCodeRequest"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/ResponseWithStatusOfBoolean"
            }
          }
        }
      }
    },
    "/BflMerchant/GetMerchantMasterByGroupMerchantCode": {
      "post": {
        "tags": [
          "BflMerchant"
        ],
        "operationId": "BflMerchant_GetMerchantMasterByGroupMerchantCode",
        "consumes": [
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SelectMerchantMasterByGroupMercantCodeRequest"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/ResponseWithStatusOfString"
            }
          }
        }
      }
    },
    "/BflMerchant/UpdateNonMerchantMater": {
      "post": {
        "tags": [
          "BflMerchant"
        ],
        "operationId": "BflMerchant_UpdateNonMerchantMater",
        "consumes": [
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/NonMerchantMaterRequest"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/ResponseWithStatusOfInteger"
            }
          }
        }
      }
    },
    "/BflMerchant/validateMerchantIdAgainstSegmentCode": {
      "post": {
        "tags": [
          "BflMerchant"
        ],
        "operationId": "BflMerchant_validateMerchantIdAgainstSegmentCode",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "type": "string",
            "name": "merchantId",
            "in": "query",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "merchantSegmentCode",
            "in": "query",
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/ResponseWithStatusOfBoolean"
            }
          }
        }
      }
    },
    "/BFLPWA/GetUserDetails": {
      "post": {
        "tags": [
          "BFLPWA"
        ],
        "operationId": "BFLPWA_GetUserDetails",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "type": "integer",
            "name": "BlockID",
            "in": "query",
            "format": "int32",
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/ResponseWithStatusOfOrder"
            }
          }
        }
      }
    },
    "/BFLPWA/UpdateOrder": {
      "post": {
        "tags": [
          "BFLPWA"
        ],
        "operationId": "BFLPWA_UpdateOrder",
        "consumes": [
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "orderDetailUpdate",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/OrderDetailUpdate"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/ResponseWithStatusOfOrder"
            }
          }
        }
      }
    },
    "/BFLPWA/InsertUserLoginLogoutDetail": {
      "post": {
        "tags": [
          "BFLPWA"
        ],
        "operationId": "BFLPWA_InsertUserLoginLogoutDetail",
        "consumes": [
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "userLoginLogoutDetailRequest",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UserLoginLogoutDetailRequest"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        }
      }
    },
    "/BFLPWA/UpdateUserLoginLogoutDetail": {
      "post": {
        "tags": [
          "BFLPWA"
        ],
        "operationId": "BFLPWA_UpdateUserLoginLogoutDetail",
        "consumes": [
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "userLoginLogoutDetailRequest",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UserLoginLogoutDetailRequest"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        }
      }
    },
    "/CashbackTransactions/GetCashbackTransactions": {
      "post": {
        "tags": [
          "CashbackTransactions"
        ],
        "operationId": "CashbackTransactions_GetCashbackTransactions",
        "consumes": [
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CashbackTransactionsRequest"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/PagedResponseOfListOfCashbackTransactionResponse"
            }
          }
        }
      }
    },
    "/CashbackTransactions/GetAvailableCashback": {
      "post": {
        "tags": [
          "CashbackTransactions"
        ],
        "operationId": "CashbackTransactions_GetAvailableCashback",
        "consumes": [
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetAvailableRewardRequest"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/GetAvailableRewardsResponse"
            }
          }
        }
      }
    },
    "/CashbackTransactions/Insert": {
      "post": {
        "tags": [
          "CashbackTransactions"
        ],
        "operationId": "CashbackTransactions_Insert",
        "consumes": [
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "cashbackRewardRequest",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CashbackRewardRequest"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        }
      }
    },
    "/CashbackTransactions/UpsertFssId": {
      "post": {
        "tags": [
          "CashbackTransactions"
        ],
        "operationId": "CashbackTransactions_UpsertFssId",
        "consumes": [
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpsertFssIdRequest"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/ResponseWithStatusOfUpsertFSSIdResponse"
            }
          }
        }
      }
    },
    "/CashbackTransactions/GetFailedFSSTransactions": {
      "post": {
        "tags": [
          "CashbackTransactions"
        ],
        "operationId": "CashbackTransactions_GetFailedFSSTransactions",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "type": "integer",
            "name": "retryCount",
            "in": "query",
            "format": "int32",
            "x-nullable": false
          },
          {
            "type": "integer",
            "name": "limit",
            "in": "query",
            "format": "int32",
            "x-nullable": false
          },
          {
            "type": "integer",
            "name": "skip",
            "in": "query",
            "format": "int32",
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/ResponseWithStatusOfListOfCashbackTransactionOLTPTableResponse"
            }
          }
        }
      }
    },
    "/CashbackTransactions/GetCashbackTransactionByMobileNumber": {
      "post": {
        "tags": [
          "CashbackTransactions"
        ],
        "operationId": "CashbackTransactions_GetCashbackTransactionByMobileNumber",
        "consumes": [
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "cashbackTransactionRequest",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CashbackTransactionRequest"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/CashbackTransactionOLTPTableResponse"
              }
            }
          }
        }
      }
    },
    "/CashbackTransactions/GetCashbackTxnByTxnIdAndMobile": {
      "post": {
        "tags": [
          "CashbackTransactions"
        ],
        "operationId": "CashbackTransactions_GetCashbackTransactionByTxnIdAndMobileNumber",
        "consumes": [
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CashbackByTxnIdAndMobileRequest"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/ResponseWithStatusOfCashbackTransactionOLTPTableResponse"
            }
          }
        }
      }
    },
    "/CashbackTransactions/LockedUnlockCashback": {
      "post": {
        "tags": [
          "CashbackTransactions"
        ],
        "operationId": "CashbackTransactions_LockedUnlockCashback",
        "consumes": [
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/LockedUnlockRequest"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "type": "boolean"
            }
          }
        }
      }
    },
    "/CashbackTransactions/UpdateBlockedCashback": {
      "post": {
        "tags": [
          "CashbackTransactions"
        ],
        "operationId": "CashbackTransactions_UpdateBlockedCashback",
        "consumes": [
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "cashbackTransactionRequest",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CashbackTransactionRequest"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        }
      }
    },
    "/CashbackTransactions/UpdateCashbackTransactionStatus": {
      "post": {
        "tags": [
          "CashbackTransactions"
        ],
        "operationId": "CashbackTransactions_UpdateCashbackTransactionStatus",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "type": "string",
            "name": "MobileNumber",
            "in": "query",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "RewardLogId",
            "in": "query",
            "x-nullable": true
          },
          {
            "type": "integer",
            "name": "Status",
            "in": "query",
            "format": "int32",
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/CashbackTransactionOLTPTableResponse"
            }
          }
        }
      }
    },
    "/CashbackTransactions/UpdateCashbackFSSTxnId": {
      "put": {
        "tags": [
          "CashbackTransactions"
        ],
        "operationId": "CashbackTransactions_UpdateCashbackTxnId",
        "consumes": [
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CashbackUpdateFSSTxnIdRequest"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        }
      }
    },
    "/CashbackTransactions/InsertCashbackRedemptionTxn": {
      "post": {
        "tags": [
          "CashbackTransactions"
        ],
        "operationId": "CashbackTransactions_InsertCashbackRedemptionTxn",
        "consumes": [
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "cashbackRedemptionTxnRequest",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CashbackRedemptionTxnRequest"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        }
      }
    },
    "/CashbackTransactions/UpdateCashbackTransactionStatusbyTxnId": {
      "post": {
        "tags": [
          "CashbackTransactions"
        ],
        "operationId": "CashbackTransactions_UpdateCashbackTransactionStatusbyTxnId",
        "consumes": [
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CashBackTransactionStatusRequest"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        }
      }
    },
    "/CashbackTransactions/GetCashbackDetailsbyTxnId": {
      "post": {
        "tags": [
          "CashbackTransactions"
        ],
        "operationId": "CashbackTransactions_GetCashbackDetailsbyTxnId",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "type": "string",
            "name": "txnId",
            "in": "query",
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/CashBackDetails"
            }
          }
        }
      }
    },
    "/CashbackTransactions/UnscratchedCashback": {
      "post": {
        "tags": [
          "CashbackTransactions"
        ],
        "operationId": "CashbackTransactions_UnscratchedCashback",
        "consumes": [
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "unscratchedCashbackRequest",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UnscratchedCashbackRequest"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        }
      }
    },
    "/CashbackTransactions/GetRewardCount": {
      "post": {
        "tags": [
          "CashbackTransactions"
        ],
        "operationId": "CashbackTransactions_GetRewardCount",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "type": "string",
            "name": "MobileNumber",
            "in": "query",
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        }
      }
    },
    "/CustomerLedger/ExpiringPoints": {
      "post": {
        "tags": [
          "CustomerLedger"
        ],
        "operationId": "CustomerLedger_CurrentMonthExpiringPoint",
        "consumes": [
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "currentMonthExpiringPointRequest",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CurrentMonthExpiringPointRequest"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "type": "number",
              "format": "double"
            }
          }
        }
      }
    },
    "/CustomerLedger/ExpiringPointsFor360Ui": {
      "post": {
        "tags": [
          "CustomerLedger"
        ],
        "operationId": "CustomerLedger_GetAllExpiryPoint",
        "consumes": [
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "currentMonthExpiringPointRequest",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CustomerData"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/ResponseWithStatusOfListOfAllMonthExpiryPoint"
            }
          }
        }
      }
    },
    "/CustomerLedger/GetCustomerTransactions": {
      "post": {
        "tags": [
          "CustomerLedger"
        ],
        "operationId": "CustomerLedger_GetCustomerTransactionSummary",
        "consumes": [
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CustomerTransactionSummaryRequest"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/PagedResponseOfListOfCustomerTransaction"
            }
          }
        }
      }
    },
    "/LapsePolicies/GetLapsePolicy": {
      "post": {
        "tags": [
          "LapsePolicies"
        ],
        "operationId": "LapsePolicies_GetLapsePolicy",
        "consumes": [
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/LapsePolicyRequest"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/ResponseOfLapsePolicyResponse"
            }
          }
        }
      }
    },
    "/Partner/Details": {
      "post": {
        "tags": [
          "Partner"
        ],
        "operationId": "Partner_Details",
        "consumes": [
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "partnerRequest",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PartnerRequest"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/ResponseWithStatusOfListOfPartnerDetails"
            }
          }
        }
      }
    },
    "/PointTransactions/GetAvailablePoints": {
      "post": {
        "tags": [
          "PointTransactions"
        ],
        "operationId": "PointTransactions_GetAvailablePoints",
        "consumes": [
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetAvailableRewardRequest"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/GetAvailableRewardsResponse"
            }
          }
        }
      }
    },
    "/PointTransactions/ConfirmBlock": {
      "post": {
        "tags": [
          "PointTransactions"
        ],
        "operationId": "PointTransactions_ConfirmBlock",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "type": "string",
            "name": "blockId",
            "in": "query",
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/ResponseOfListOfPointTransactionTableResponse"
            }
          }
        }
      }
    },
    "/PointTransactions/CancelBlock": {
      "post": {
        "tags": [
          "PointTransactions"
        ],
        "operationId": "PointTransactions_CancelBlock",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "type": "string",
            "name": "blockId",
            "in": "query",
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/ResponseOfListOfPointTransactionTableResponse"
            }
          }
        }
      }
    },
    "/PointTransactions/GetLapsePointTransaction": {
      "post": {
        "tags": [
          "PointTransactions"
        ],
        "operationId": "PointTransactions_GetLapsePointTransaction",
        "consumes": [
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/LapsePointTransactionRequest"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/PointTransactionTableResponse"
              }
            }
          }
        }
      }
    },
    "/PointTransactions/UpdatePointTransactionlapseFlag": {
      "post": {
        "tags": [
          "PointTransactions"
        ],
        "operationId": "PointTransactions_UpdatePointTransactionlapseFlag",
        "consumes": [
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateLapsePointTransactionRequest"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "type": "boolean"
            }
          }
        }
      }
    },
    "/PointTransactions/UpdatePointReddemptionTxnRefId": {
      "post": {
        "tags": [
          "PointTransactions"
        ],
        "operationId": "PointTransactions_UpdatePointReddemptionTxnRefId",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "type": "integer",
            "name": "BlockId",
            "in": "query",
            "format": "int32",
            "x-nullable": false
          },
          {
            "type": "string",
            "name": "TxnRefId",
            "in": "query",
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "type": "boolean"
            }
          }
        }
      }
    },
    "/PointTransactions/FetchTotalPointsByBurnRuleID": {
      "post": {
        "tags": [
          "PointTransactions"
        ],
        "operationId": "PointTransactions_FetchTotalPointsByBurnRuleID",
        "consumes": [
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/FetchTotalPointsByBurnRuleIdRequest"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "type": "number",
              "format": "double"
            }
          }
        }
      }
    },
    "/PointTransactions/GetPointTransactionByMobileNumber": {
      "post": {
        "tags": [
          "PointTransactions"
        ],
        "operationId": "PointTransactions_GetPointTransactionByMobileNumber",
        "consumes": [
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "pointTransactionRequest",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PointTransactionRequest"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/PointTransactionResponse"
              }
            }
          }
        }
      }
    },
    "/PointTransactions/GetPointTransactions": {
      "post": {
        "tags": [
          "PointTransactions"
        ],
        "operationId": "PointTransactions_GetPointTransactions",
        "consumes": [
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PointTransactionsRequest"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/PagedResponseOfListOfPointTransactionTableResponse"
            }
          }
        }
      }
    },
    "/PointTransactions/GetPointTransactionByPointTransactionId": {
      "post": {
        "tags": [
          "PointTransactions"
        ],
        "operationId": "PointTransactions_GetPointTransactionByPointTransactionId",
        "consumes": [
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetPointTransaction"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/PointTransactionTableResponse"
              }
            }
          }
        }
      }
    },
    "/PointTransactions/UpdateBlockedPoint": {
      "post": {
        "tags": [
          "PointTransactions"
        ],
        "operationId": "PointTransactions_UpdateBlockedPoint",
        "consumes": [
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "pointTransactionRequest",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PointTransactionRequest"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        }
      }
    },
    "/PointTransactions/MerchantPointSummary": {
      "post": {
        "tags": [
          "PointTransactions"
        ],
        "operationId": "PointTransactions_MerchantPointSummary",
        "consumes": [
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "merchantPointSummaryRequest",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/MerchantPointSummaryRequest"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/PagedResponseOfListOfMerchantPointSummaryResponse"
            }
          }
        }
      }
    },
    "/PointTransactions/Insert": {
      "post": {
        "tags": [
          "PointTransactions"
        ],
        "operationId": "PointTransactions_Insert",
        "consumes": [
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "pointRewardRequest",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PointRewardRequest"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        }
      }
    },
    "/PointTransactions/DeleteTempGoodwillPromo": {
      "post": {
        "tags": [
          "PointTransactions"
        ],
        "operationId": "PointTransactions_DeleteTempGoodwillPromo",
        "consumes": [
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TempGoodWilloo_Delete"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/ResponseWithStatusOfBoolean"
            }
          }
        }
      }
    },
    "/PointTransactions/InsertGoodwillPromo": {
      "post": {
        "tags": [
          "PointTransactions"
        ],
        "operationId": "PointTransactions_InsertGoodwillPromo",
        "consumes": [
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "pointRewardRequest",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PointRewardRequest"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/ResponseWithStatusOfInteger"
            }
          }
        }
      }
    },
    "/PointTransactions/GetGoodwillPromoPointTransaction": {
      "get": {
        "tags": [
          "PointTransactions"
        ],
        "operationId": "PointTransactions_GetGoodwillPromoPointTransaction",
        "consumes": [
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GoodwillPromoActivationTxnRequest"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/ResponseWithStatusOfIEnumerableOfPointTransactionTableResponse"
            }
          }
        }
      }
    },
    "/PointTransactions/InsertAsDebit": {
      "post": {
        "tags": [
          "PointTransactions"
        ],
        "operationId": "PointTransactions_InsertAsDebit",
        "consumes": [
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "pointRewardRequest",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PointRewardInsertAsDebitRequest"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        }
      }
    },
    "/PointTransactions/InsertOldTxnIdAsync": {
      "post": {
        "tags": [
          "PointTransactions"
        ],
        "operationId": "PointTransactions_InsertOldTxnId",
        "consumes": [
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "pointRewardRequest",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/OldTxnPointRewardRequest"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        }
      }
    },
    "/PointTransactions/InsertPointRedemption": {
      "post": {
        "tags": [
          "PointTransactions"
        ],
        "operationId": "PointTransactions_InsertPointRedemption",
        "consumes": [
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "pointRedemptionRequest",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PointRedemptionRequest"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        }
      }
    },
    "/PointTransactions/InsertPointRedemptionTxn": {
      "post": {
        "tags": [
          "PointTransactions"
        ],
        "operationId": "PointTransactions_InsertPointRedemptionTxn",
        "consumes": [
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "pointRedemptionTxnRequest",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PointRedemptionTxnRequest"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        }
      }
    },
    "/PointTransactions/GetPointTransactionByBlockID": {
      "post": {
        "tags": [
          "PointTransactions"
        ],
        "operationId": "PointTransactions_GetPointTransactionByBlockID",
        "consumes": [
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "confirmBlockRequest",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ConfirmBlockRequest"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/PointTransactionResponse"
              }
            }
          }
        }
      }
    },
    "/PointTransactions/InsertFraudblockreward": {
      "post": {
        "tags": [
          "PointTransactions"
        ],
        "operationId": "PointTransactions_InsertFraudblockreward",
        "consumes": [
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "fraudblockreward",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Fraudblockreward"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        }
      }
    },
    "/PointTransactions/InsertFraudunblockcustomer": {
      "post": {
        "tags": [
          "PointTransactions"
        ],
        "operationId": "PointTransactions_InsertFraudunblockcustomer",
        "consumes": [
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "fraudunblockcustomer",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Fraudunblockcustomer"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        }
      }
    },
    "/PointTransactions/InsertWhitelistcustomer": {
      "post": {
        "tags": [
          "PointTransactions"
        ],
        "operationId": "PointTransactions_InsertWhitelistcustomer",
        "consumes": [
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "whitelistcustomer",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Whitelistcustomer"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        }
      }
    },
    "/PointTransactions/GetBillerDetails": {
      "post": {
        "tags": [
          "PointTransactions"
        ],
        "operationId": "PointTransactions_GetBillerDetails",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "type": "string",
            "name": "Billerid",
            "in": "query",
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/Bbpsmaster_date"
            }
          }
        }
      }
    },
    "/PointTransactions/GetReconFileLog": {
      "post": {
        "tags": [
          "PointTransactions"
        ],
        "operationId": "PointTransactions_GetReconFileLog",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ReconFileName"
              }
            }
          }
        }
      }
    },
    "/PointTransactions/InsertReconFileLog": {
      "post": {
        "tags": [
          "PointTransactions"
        ],
        "operationId": "PointTransactions_InsertReconFileLog",
        "consumes": [
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "reconFileName",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ReconFileName"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        }
      }
    },
    "/PointTransactions/GetTTUMFileLog": {
      "post": {
        "tags": [
          "PointTransactions"
        ],
        "operationId": "PointTransactions_GetTTUMFileLog",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/TTUMFileName"
              }
            }
          }
        }
      }
    },
    "/PointTransactions/InsertTTUMFileLog": {
      "post": {
        "tags": [
          "PointTransactions"
        ],
        "operationId": "PointTransactions_InsertTTUMFileLog",
        "consumes": [
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "reconFileName",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ReconFileName"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        }
      }
    },
    "/PointTransactions/GetPointRedemptionTxnByStaus": {
      "post": {
        "tags": [
          "PointTransactions"
        ],
        "operationId": "PointTransactions_GetPointRedemptionTxnByStaus",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "type": "integer",
            "name": "status",
            "in": "query",
            "format": "int32",
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/PointRedemptionResponse"
              }
            }
          }
        }
      }
    },
    "/PointTransactions/GetPointRedemptionTxnByBlockID": {
      "post": {
        "tags": [
          "PointTransactions"
        ],
        "operationId": "PointTransactions_GetPointRedemptionTxnByBlockID",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "type": "integer",
            "name": "BlockID",
            "in": "query",
            "format": "int32",
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/PointRedeemtiontxnReaponse"
              }
            }
          }
        }
      }
    },
    "/PointTransactions/GetPointTxnBytransactionID": {
      "post": {
        "tags": [
          "PointTransactions"
        ],
        "operationId": "PointTransactions_GetPointTxnBytransactionID",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "type": "string",
            "name": "TransactionID",
            "in": "query",
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/PointTransactionTableResponse"
              }
            }
          }
        }
      }
    },
    "/PointTransactions/UpdatePointRedumptionErrorStatusbyBlockID": {
      "post": {
        "tags": [
          "PointTransactions"
        ],
        "operationId": "PointTransactions_UpdatePointRedumptionErrorStatusbyBlockID",
        "consumes": [
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "blockId",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PointRedumptionErrorStatusRequest"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        }
      }
    },
    "/PromoVoucher/BlockPromoCode": {
      "post": {
        "tags": [
          "PromoVoucher"
        ],
        "operationId": "PromoVoucher_BlockPromoCode",
        "consumes": [
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "promoVoucherRequest",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PromoVoucherRequest"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/ResponseOfPromoVoucherResponse"
            }
          }
        }
      }
    },
    "/PromoVoucher/CancelBlockPromoCode": {
      "post": {
        "tags": [
          "PromoVoucher"
        ],
        "operationId": "PromoVoucher_CancelBlockPromoCode",
        "consumes": [
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "promoVoucherRequest",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PromoVoucherRequest"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/ResponseOfPromoVoucherResponse"
            }
          }
        }
      }
    },
    "/PromoVoucher/ReleasePromoCode": {
      "post": {
        "tags": [
          "PromoVoucher"
        ],
        "operationId": "PromoVoucher_ReleasePromoCode",
        "consumes": [
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "promoVoucherRequest",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PromoVoucherRequest"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/ResponseOfListOfPromoVoucherResponse"
            }
          }
        }
      }
    },
    "/PromoVoucher/InsertPromoVoucherRequest": {
      "post": {
        "tags": [
          "PromoVoucher"
        ],
        "operationId": "PromoVoucher_InsertPromoVoucherRequest",
        "consumes": [
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "promoVoucherRewardRequest",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PromoVoucherRewardRequest"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/ResponseOfPromoVoucherResponse"
            }
          }
        }
      }
    },
    "/PromoVoucher/GetPromoVoucherDetails": {
      "post": {
        "tags": [
          "PromoVoucher"
        ],
        "operationId": "PromoVoucher_GetPromoVoucherDetails",
        "consumes": [
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "promoVoucherDetailRequest",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PromoVoucherDetailRequest"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/ResponseOfPromoVoucherResponseOfListOfPromoVoucherDetail"
            }
          }
        }
      }
    },
    "/PromoVoucher/GetPromoVoucherDetailsBySKU": {
      "post": {
        "tags": [
          "PromoVoucher"
        ],
        "operationId": "PromoVoucher_GetPromoVoucherDetailsBySKU",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "type": "integer",
            "name": "skuId",
            "in": "query",
            "format": "int32",
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/ResponseOfPromoVoucherResponseOfListOfPromoVoucherMasterDetail"
            }
          }
        }
      }
    },
    "/PromoVoucher/UpdatePromoVoucherInventory": {
      "post": {
        "tags": [
          "PromoVoucher"
        ],
        "operationId": "PromoVoucher_UpdatePromoVoucherInventory",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "type": "integer",
            "name": "sku",
            "in": "query",
            "format": "int32",
            "x-nullable": false
          },
          {
            "type": "integer",
            "name": "quantity",
            "in": "query",
            "format": "int32",
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/ResponseOfPromoVoucherResponseOfListOfPromoVoucherMasterDetail"
            }
          }
        }
      }
    },
    "/PromoVoucher/GetPromoVoucherCode": {
      "post": {
        "tags": [
          "PromoVoucher"
        ],
        "operationId": "PromoVoucher_GetPromoVoucherCode",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "type": "integer",
            "name": "sku",
            "in": "query",
            "format": "int32",
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/ResponseOfpromoVoucherResponse"
            }
          }
        }
      }
    },
    "/PromoVoucher/GetPromoVoucherDetailsByPromoCode": {
      "post": {
        "tags": [
          "PromoVoucher"
        ],
        "operationId": "PromoVoucher_GetPromoVoucherDetailsByPromoCode",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "type": "string",
            "name": "promoCode",
            "in": "query",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "Mobile",
            "in": "query",
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/PromoVoucherResponseOfListOfPromoVoucherMasterDetail"
            }
          }
        }
      }
    },
    "/PromoVoucher/blockPromoVoucherTransaction": {
      "post": {
        "tags": [
          "PromoVoucher"
        ],
        "operationId": "PromoVoucher_BlockPromoVoucherTransactionById",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "type": "integer",
            "name": "id",
            "in": "query",
            "format": "int32",
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/ResponseWithStatusOfString"
            }
          }
        }
      }
    },
    "/Referral/GetReferral": {
      "post": {
        "tags": [
          "Referral"
        ],
        "operationId": "Referral_GetReferral",
        "consumes": [
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "getReferralRequest",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetReferralRequest"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/DBReferralResponse"
              }
            }
          }
        }
      }
    },
    "/Referral/InsertReferral": {
      "post": {
        "tags": [
          "Referral"
        ],
        "operationId": "Referral_InsertReferral",
        "consumes": [
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "parameters": [
          {
            "name": "referralRequest",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ReferralRequest"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/Referral/UpdateReferral": {
      "post": {
        "tags": [
          "Referral"
        ],
        "operationId": "Referral_UpdateReferral",
        "consumes": [
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "parameters": [
          {
            "name": "referralRequest",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ReferralRequest"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/TempTable/InsertIntoTempTable": {
      "post": {
        "tags": [
          "TempTable"
        ],
        "operationId": "TempTable_InsertIntoReportTempTable",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "type": "string",
            "name": "txnRefId",
            "in": "query",
            "x-nullable": true
          },
          {
            "type": "number",
            "name": "amount",
            "in": "query",
            "format": "decimal",
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "type": "string"
            }
          }
        }
      }
    },
    "/TempTable/GetTempTableRecordByTxnRefID": {
      "post": {
        "tags": [
          "TempTable"
        ],
        "operationId": "TempTable_GetTempTableRecordByTxnRefID",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "type": "string",
            "name": "txnRefId",
            "in": "query",
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/TempTableResponse"
            }
          }
        }
      }
    },
    "/UserAccount/UserAccountDetail": {
      "post": {
        "tags": [
          "UserAccount"
        ],
        "operationId": "UserAccount_UserAccountDetail",
        "consumes": [
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UserAccountRequest"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/UserAccountDetailResponse"
              }
            }
          }
        }
      }
    },
    "/UserManagement/GetUserDetails": {
      "post": {
        "tags": [
          "UserManagement"
        ],
        "operationId": "UserManagement_GetUserDetails",
        "consumes": [
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/UserDetailsResponse"
              }
            }
          }
        }
      }
    },
    "/VoucherTransactions/GetVoucherDetailsFor360": {
      "post": {
        "tags": [
          "VoucherTransactions"
        ],
        "operationId": "VoucherTransactions_GetVoucherDetailsFor360",
        "consumes": [
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/VoucherTransactionsFor360SMS"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/ResponseWithStatusOfVoucherTransactionResponse"
            }
          }
        }
      }
    },
    "/VoucherTransactions/GetVoucherTransactions": {
      "post": {
        "tags": [
          "VoucherTransactions"
        ],
        "operationId": "VoucherTransactions_GetVoucherTransactions",
        "consumes": [
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/VoucherTransactionRequest"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/PagedResponseOfListOfVoucherTransactionResponse"
            }
          }
        }
      }
    },
    "/VoucherTransactions/GetExpiringVouchers": {
      "post": {
        "tags": [
          "VoucherTransactions"
        ],
        "operationId": "VoucherTransactions_GetExpiringVouchers",
        "consumes": [
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/VoucherExpiringRequest"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "type": "number",
              "format": "double"
            }
          }
        }
      }
    },
    "/VoucherTransactions/InsertVoucherTransaction": {
      "post": {
        "tags": [
          "VoucherTransactions"
        ],
        "operationId": "VoucherTransactions_InsertVoucherTransaction",
        "consumes": [
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "voucherRewardRequest",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/VoucherRewardRequest"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        }
      }
    },
    "/VoucherTransactions/InsertVoucherTransactionDetail": {
      "post": {
        "tags": [
          "VoucherTransactions"
        ],
        "operationId": "VoucherTransactions_InsertVoucherTransactionDetail",
        "consumes": [
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "transactionDetailRequest",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/IssueVoucherTransactionDetailRequest"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        }
      }
    },
    "/VoucherTransactions/UpdateIssueVoucher": {
      "post": {
        "tags": [
          "VoucherTransactions"
        ],
        "operationId": "VoucherTransactions_UpdateIssueVoucher",
        "consumes": [
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "issueVoucherDetail",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/IssueVoucherDetailRequest"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        }
      }
    },
    "/VoucherTransactions/UpdateIssueVoucherTransactionDetail": {
      "post": {
        "tags": [
          "VoucherTransactions"
        ],
        "operationId": "VoucherTransactions_UpdateIssueVoucherTransactionDetail",
        "consumes": [
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "issueVoucherTransactionDetailRequest",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/IssueVoucherTransactionDetailRequest"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        }
      }
    },
    "/VoucherTransactions/GetVoucherTransactionDetailByVoucherTransactionId": {
      "post": {
        "tags": [
          "VoucherTransactions"
        ],
        "operationId": "VoucherTransactions_GetVoucherTransactionDetailByVoucherTransactionId",
        "consumes": [
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "issueVoucherTransactionDetailRequest",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/IssueVoucherTransactionDetailRequest"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/IssueVoucherTransactionDetailResponse"
              }
            }
          }
        }
      }
    },
    "/VoucherTransactions/GetVoucherDetailsByTxnId": {
      "post": {
        "tags": [
          "VoucherTransactions"
        ],
        "operationId": "VoucherTransactions_GetVoucherDetailsByTransactionId",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "type": "string",
            "name": "vTxnId",
            "in": "query",
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/VoucherDetails"
            }
          }
        }
      }
    },
[...]
