{
  "x-generator": "NSwag v13.18.2.0 (NJsonSchema v10.8.0.0 (Newtonsoft.Json v13.0.0.0))",
  "openapi": "3.0.0",
  "info": {
    "title": "Mongo Service",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://iiflmongosvc.erzqa.com"
    },
    {
      "url": "http://iiflmongosvc.erzqa.com"
    }
  ],
  "paths": {
    "/ApproveQueueController/UpsertInQueue": {
      "post": {
        "tags": [
          "ApproveQueue"
        ],
        "operationId": "ApproveQueue_UpsertInQueue",
        "requestBody": {
          "x-name": "request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UploadQueue"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseOfQueueIdResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ApproveQueueController/GetApproverStatus": {
      "post": {
        "tags": [
          "ApproveQueue"
        ],
        "operationId": "ApproveQueue_GetApproverStatus",
        "parameters": [
          {
            "name": "queueId",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseOfApproverStatusResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ApproveQueueController": {
      "get": {
        "tags": [
          "ApproveQueue"
        ],
        "operationId": "ApproveQueue_GetAll",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/UploadQueue"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "ApproveQueue"
        ],
        "operationId": "ApproveQueue_Post",
        "requestBody": {
          "x-name": "t",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UploadQueue"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UploadQueue"
                }
              }
            }
          }
        }
      }
    },
    "/ApproveQueueController/{id}": {
      "get": {
        "tags": [
          "ApproveQueue"
        ],
        "operationId": "ApproveQueue_Get",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UploadQueue"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "ApproveQueue"
        ],
        "operationId": "ApproveQueue_Put",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 1
          }
        ],
        "requestBody": {
          "x-name": "t",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UploadQueue"
              }
            }
          },
          "required": true,
          "x-position": 2
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      },
      "delete": {
        "tags": [
          "ApproveQueue"
        ],
        "operationId": "ApproveQueue_Delete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/BundleReward/CreateTripleRewadBundle": {
      "post": {
        "tags": [
          "BundleRewards"
        ],
        "operationId": "BundleRewards_CreateTripleRewadBundle",
        "requestBody": {
          "x-name": "bundleTripleRewardRequest",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BundleTripleRewardRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/BundleReward/GetTripleRewadBundleDetail": {
      "post": {
        "tags": [
          "BundleRewards"
        ],
        "operationId": "BundleRewards_GetTripleRewadBundleDetail",
        "requestBody": {
          "x-name": "bundleTripleRewardRequest",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BundleTripleRewardRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TripleRewardBundleResponse"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/BundleReward/GetTripleRewardDetail": {
      "post": {
        "tags": [
          "BundleRewards"
        ],
        "operationId": "BundleRewards_GetTripleRewardDetail",
        "requestBody": {
          "x-name": "bundleTripleRewardRequest",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BundleTripleRewardRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TripleRewardBundleResponse"
                }
              }
            }
          }
        }
      }
    },
    "/BundleReward/GetTripleRewardTempBundleDetail": {
      "post": {
        "tags": [
          "BundleRewards"
        ],
        "operationId": "BundleRewards_GetTripleRewardTempBundleDetail",
        "requestBody": {
          "x-name": "bundleTripleRewardRequest",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BundleTripleRewardRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TripleRewardBundleResponse"
                }
              }
            }
          }
        }
      }
    },
    "/BundleReward/GetTripleRewardFraudBundleDetail": {
      "post": {
        "tags": [
          "BundleRewards"
        ],
        "operationId": "BundleRewards_GetTripleRewardFraudBundleDetail",
        "requestBody": {
          "x-name": "bundleTripleRewardRequest",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BundleTripleRewardRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TripleRewardBundleResponse"
                }
              }
            }
          }
        }
      }
    },
    "/BundleReward/GetTripleRewardDetailForScratch": {
      "post": {
        "tags": [
          "BundleRewards"
        ],
        "operationId": "BundleRewards_GetTripleRewardDetailForScratch",
        "requestBody": {
          "x-name": "bundleTripleRewardRequest",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BundleTripleRewardRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TripleRewardBundleResponse"
                }
              }
            }
          }
        }
      }
    },
    "/BundleReward/UpdateTripleRewardTempBundleDetailLockStatus": {
      "post": {
        "tags": [
          "BundleRewards"
        ],
        "operationId": "BundleRewards_UpdateTripleRewardTempBundleDetailLockStatus",
        "requestBody": {
          "x-name": "bundleTripleRewardRequest",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BundleTripleRewardRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/BundleReward/GetTripleRewardDetailForScratchForLock": {
      "post": {
        "tags": [
          "BundleRewards"
        ],
        "operationId": "BundleRewards_GetTripleRewardDetailForScratchForLock",
        "requestBody": {
          "x-name": "bundleTripleRewardRequest",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BundleTripleRewardRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponsesOfTripleRewardBundleResponse"
                }
              }
            }
          }
        }
      }
    },
    "/BundleReward/UpdateTripleRewardDetail": {
      "post": {
        "tags": [
          "BundleRewards"
        ],
        "operationId": "BundleRewards_UpdateTripleRewardDetail",
        "requestBody": {
          "x-name": "bundleTripleRewardRequest",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BundleTripleRewardRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "boolean"
                }
              }
            }
          }
        }
      }
    },
    "/BundleReward/GetAPICallResponse": {
      "get": {
        "tags": [
          "BundleRewards"
        ],
        "operationId": "BundleRewards_GetAPICallResponse",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APICallResponse"
                }
              }
            }
          }
        }
      }
    },
    "/BundleReward/UpdateTripleRewardTempBundleDetail": {
      "post": {
        "tags": [
          "BundleRewards"
        ],
        "operationId": "BundleRewards_UpdateTripleRewardTempBundleDetail",
        "requestBody": {
          "x-name": "bundleTripleRewardRequest",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BundleTripleRewardRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "boolean"
                }
              }
            }
          }
        }
      }
    },
    "/BundleReward/UpdateTripleRewardTempRewardBundle": {
      "post": {
        "tags": [
          "BundleRewards"
        ],
        "operationId": "BundleRewards_UpdateTripleRewardTempRewardBundle",
        "requestBody": {
          "x-name": "bundleTripleRewardRequest",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BundleTripleRewardRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "boolean"
                }
              }
            }
          }
        }
      }
    },
    "/BundleReward/UpdateTripleRewardFraudBundleDetail": {
      "post": {
        "tags": [
          "BundleRewards"
        ],
        "operationId": "BundleRewards_UpdateTripleRewardFraudBundleDetail",
        "requestBody": {
          "x-name": "bundleTripleRewardRequest",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BundleTripleRewardRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "boolean"
                }
              }
            }
          }
        }
      }
    },
    "/BundleReward/UpdateTripleRewardFraudRewardBundle": {
      "post": {
        "tags": [
          "BundleRewards"
        ],
        "operationId": "BundleRewards_UpdateTripleRewardFraudRewardBundle",
        "requestBody": {
          "x-name": "bundleTripleRewardRequest",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BundleTripleRewardRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "boolean"
                }
              }
            }
          }
        }
      }
    },
    "/BundleReward/UpdateTripleRewardBundleHistory": {
      "post": {
        "tags": [
          "BundleRewards"
        ],
        "operationId": "BundleRewards_UpdateTripleRewardTransactionHistory",
        "requestBody": {
          "x-name": "tripleRewardTransactionHistory",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TripleRewardTransactionHistory"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "boolean"
                }
              }
            }
          }
        }
      }
    },
    "/BundleReward/UpdateTripleRewardBundleHistoryRevealedStatus": {
      "post": {
        "tags": [
          "BundleRewards"
        ],
        "operationId": "BundleRewards_UpdateTripleRewardTransactionHistoryRevealedStatus",
        "requestBody": {
          "x-name": "tripleRewardTransactionHistory",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TripleRewardTransactionHistory"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "boolean"
                }
              }
            }
          }
        }
      }
    },
    "/BundleReward/UpdateTripleRewardTransactionHistoryIsScratchedIsReveledStatus": {
      "post": {
        "tags": [
          "BundleRewards"
        ],
        "operationId": "BundleRewards_UpdateTripleRewardTransactionHistoryIsScratchedIsReveledStatus",
        "parameters": [
          {
            "name": "rewardLogId",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 1
          },
          {
            "name": "type",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-position": 2
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "boolean"
                }
              }
            }
          }
        }
      }
    },
    "/BurnRule/GetBurnRules": {
      "post": {
        "tags": [
          "BurnRule"
        ],
        "operationId": "BurnRule_GetBurnRules",
        "parameters": [
          {
            "name": "BurnCriteriaType",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 1
          },
          {
            "name": "BurnCriteriaChannel",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 2
          },
          {
            "name": "TransationDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "x-position": 3
          },
          {
            "name": "CustomerType",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 4
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BurnRule"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/BurnRule/GetBurnRulesByType": {
      "post": {
        "tags": [
          "BurnRule"
        ],
        "operationId": "BurnRule_GetBurnRulesByType",
        "parameters": [
          {
            "name": "BurnCriteriaType",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 1
          },
          {
            "name": "Channel",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 2
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseOfListOfMongoBurnRule"
                }
              }
            }
          }
        }
      }
    },
    "/BurnRule/GetBurnRulesByBurnRuleID": {
      "post": {
        "tags": [
          "BurnRule"
        ],
        "operationId": "BurnRule_GetBurnRulesByBurnRuleID",
        "parameters": [
          {
            "name": "BurnRuleID",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseOfListOfMongoBurnRule"
                }
              }
            }
          }
        }
      }
    },
    "/BurnRule/GetBurnRulesByRedeemType": {
      "post": {
        "tags": [
          "BurnRule"
        ],
        "operationId": "BurnRule_GetBurnRulesByRedeemType",
        "requestBody": {
          "x-name": "burnRuleRequestForRedeemType",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BurnRuleRequestForRedeemType"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponsesOfListOfMongoRedeemType"
                }
              }
            }
          }
        }
      }
    },
    "/Campaign/GetCampaignDetails": {
      "post": {
        "tags": [
          "Campaign"
        ],
        "operationId": "Campaign_GetCampaignDetails",
        "requestBody": {
          "x-name": "request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CampaignDetailsRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseWithCountOfListOfEarnCampaign"
                }
              }
            }
          }
        }
      }
    },
    "/Campaign/GetCampaignsByIDs": {
      "post": {
        "tags": [
          "Campaign"
        ],
        "operationId": "Campaign_GetCampaignsByIDs",
        "requestBody": {
          "x-name": "request",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EarnCampaign"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/Campaign": {
      "get": {
        "tags": [
          "Campaign"
        ],
        "operationId": "Campaign_GetAll",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EarnCampaign"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Campaign"
        ],
        "operationId": "Campaign_Post",
        "requestBody": {
          "x-name": "t",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EarnCampaign"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EarnCampaign"
                }
              }
            }
          }
        }
      }
    },
    "/Campaign/{id}": {
      "get": {
        "tags": [
          "Campaign"
        ],
        "operationId": "Campaign_Get",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EarnCampaign"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Campaign"
        ],
        "operationId": "Campaign_Put",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 1
          }
        ],
        "requestBody": {
          "x-name": "t",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EarnCampaign"
              }
            }
          },
          "required": true,
          "x-position": 2
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      },
      "delete": {
        "tags": [
          "Campaign"
        ],
        "operationId": "Campaign_Delete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/CustomerEvent/Create": {
      "post": {
        "tags": [
          "CustomerEvents"
        ],
        "operationId": "CustomerEvents_Create",
        "requestBody": {
          "x-name": "customerEvent",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerEvent"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/CustomerEvent": {
      "get": {
        "tags": [
          "CustomerEvents"
        ],
        "operationId": "CustomerEvents_GetAll",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CustomerEvent"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "CustomerEvents"
        ],
        "operationId": "CustomerEvents_Post",
        "requestBody": {
          "x-name": "t",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerEvent"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerEvent"
                }
              }
            }
          }
        }
      }
    },
    "/CustomerEvent/{id}": {
      "get": {
        "tags": [
          "CustomerEvents"
        ],
        "operationId": "CustomerEvents_Get",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerEvent"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "CustomerEvents"
        ],
        "operationId": "CustomerEvents_Put",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 1
          }
        ],
        "requestBody": {
          "x-name": "t",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerEvent"
              }
            }
          },
          "required": true,
          "x-position": 2
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      },
      "delete": {
        "tags": [
          "CustomerEvents"
        ],
        "operationId": "CustomerEvents_Delete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/CustomerLedger/Create": {
      "post": {
        "tags": [
          "CustomerLedgers"
        ],
        "operationId": "CustomerLedgers_Create",
        "requestBody": {
          "x-name": "customerLedgerRequest",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerLedgerRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/CustomerLedger/CreateCustomerLedger": {
      "post": {
        "tags": [
          "CustomerLedgers"
        ],
        "operationId": "CustomerLedgers_CreateCustomerLedger",
        "requestBody": {
          "x-name": "customerLedgerRequest",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerLedgerRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerLedger"
                }
              }
            }
          }
        }
      }
    },
    "/CustomerLedger/GetTransactionsByType": {
      "post": {
        "tags": [
          "CustomerLedgers"
        ],
        "operationId": "CustomerLedgers_GetTransactionsByType",
        "requestBody": {
          "x-name": "request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerLedgerByTypeIdRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseWithCountOfListOfCustomerTransaction"
                }
              }
            }
          }
        }
      }
    },
    "/CustomerLedger/GetTransactionsByTypeId": {
      "post": {
        "tags": [
          "CustomerLedgers"
        ],
        "operationId": "CustomerLedgers_GetTransactionsByType2",
        "requestBody": {
          "x-name": "request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerLedgerByTxnTypeIdRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseWithCountOfListOfCustomerTransaction"
                }
              }
            }
          }
        }
      }
    },
    "/CustomerLedger/GetTransactionByTxnIDUcIcandUniqueCustomerId": {
      "post": {
        "tags": [
          "CustomerLedgers"
        ],
        "operationId": "CustomerLedgers_GetTransactionByTxnIDUcIcandUniqueCustomerId",
        "requestBody": {
          "x-name": "request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerLedgerByTxnIdRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseOfCustomerLedger"
                }
              }
            }
          }
        }
      }
    },
    "/CustomerLedger/GetTransactions": {
      "post": {
        "tags": [
          "CustomerLedgers"
        ],
        "operationId": "CustomerLedgers_GetCustomerTransactions",
        "requestBody": {
          "x-name": "request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerTransactionSummaryRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseWithCountOfListOfCustomerTransaction"
                }
              }
            }
          }
        }
      }
    },
    "/CustomerLedger/GetCustomerLedgerByOrderId": {
      "post": {
        "tags": [
          "CustomerLedgers"
        ],
        "operationId": "CustomerLedgers_GetCustomerLedgerByOrderId",
        "requestBody": {
          "x-name": "request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerLedgerOrderIdRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CustomerLedger"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/CustomerLedger/GetTransactionByStartEndDate": {
      "post": {
        "tags": [
          "CustomerLedgers"
        ],
        "operationId": "CustomerLedgers_GetTransactionsByDate",
        "requestBody": {
          "x-name": "request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerTransactionByDateRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseWithCountOfListOfCustomerTransaction"
                }
              }
            }
          }
        }
      }
    },
    "/CustomerLedger/GetLatestTransaction": {
      "post": {
        "tags": [
          "CustomerLedgers"
        ],
        "operationId": "CustomerLedgers_GetLatestTransaction",
        "requestBody": {
          "x-name": "request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerUcIcRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerLedger"
                }
              }
            }
          }
        }
      }
    },
    "/CustomerLedger/GetTransactionByTxnRefID": {
      "post": {
        "tags": [
          "CustomerLedgers"
        ],
        "operationId": "CustomerLedgers_GetTransactionByTxnRefID",
        "parameters": [
          {
            "name": "TxnRefID",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerLedger"
                }
              }
            }
          }
        }
      }
    },
    "/CustomerLedger/GetOneDayOldTransactions": {
      "post": {
        "tags": [
          "CustomerLedgers"
        ],
        "operationId": "CustomerLedgers_GetOneDayOldTransactions",
        "parameters": [
          {
            "name": "skip",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CustomerLedger"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/CustomerLedger/GetTransactionsByDate": {
      "post": {
        "tags": [
          "CustomerLedgers"
        ],
        "operationId": "CustomerLedgers_GetTransactionsByDateAll",
        "parameters": [
          {
            "name": "skip",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-position": 1
          },
          {
            "name": "startDate",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 2
          },
          {
            "name": "endDate",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 3
          },
          {
            "name": "noOfDays",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-position": 4
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CustomerLedger"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/CustomerLedger/GetTransactionsByDateFilter": {
      "post": {
        "tags": [
          "CustomerLedgers"
        ],
        "operationId": "CustomerLedgers_GetTransactionsByDateFilter",
        "parameters": [
          {
            "name": "skip",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-position": 1
          },
          {
            "name": "startDate",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 2
          },
          {
            "name": "endDate",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 3
          },
          {
            "name": "noOfDays",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-position": 4
          },
          {
            "name": "filterString",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 5
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CustomerLedger"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/CustomerLedger/GetTwoDayOldTransactions": {
      "post": {
        "tags": [
          "CustomerLedgers"
        ],
        "operationId": "CustomerLedgers_GetTwoDayOldTransactions",
        "parameters": [
          {
            "name": "skip",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CustomerLedger"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/CustomerLedger": {
      "get": {
        "tags": [
          "CustomerLedgers"
        ],
        "operationId": "CustomerLedgers_GetAll",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CustomerLedger"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "CustomerLedgers"
        ],
        "operationId": "CustomerLedgers_Post",
        "requestBody": {
          "x-name": "t",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerLedger"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerLedger"
                }
              }
            }
          }
        }
      }
    },
    "/CustomerLedger/{id}": {
      "get": {
        "tags": [
          "CustomerLedgers"
        ],
        "operationId": "CustomerLedgers_Get",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerLedger"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "CustomerLedgers"
        ],
        "operationId": "CustomerLedgers_Put",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 1
          }
        ],
        "requestBody": {
          "x-name": "t",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerLedger"
              }
            }
          },
          "required": true,
          "x-position": 2
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      },
      "delete": {
        "tags": [
          "CustomerLedgers"
        ],
        "operationId": "CustomerLedgers_Delete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/CustomerMobileCampaignMapping/GetCustomerMobileCampaignMapping": {
      "post": {
        "tags": [
          "CustomerMobileCampaignMappings"
        ],
        "operationId": "CustomerMobileCampaignMappings_GetCustomerMobileCampaignMappings",
        "requestBody": {
          "x-name": "customerMobileCampaignMappingRequest",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerMobileCampaignMappingRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CustomerMobileCampaignMapping"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/CustomerMobileCampaignMapping/GetCustomerMobileCampaignMappingForOncePerCampaign": {
      "post": {
        "tags": [
          "CustomerMobileCampaignMappings"
        ],
        "operationId": "CustomerMobileCampaignMappings_GetCustomerMobileCampaignMappingForOncePerCampaign",
        "requestBody": {
          "x-name": "customerMobileCampaignMappingRequest",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerMobileCampaignMappingRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CustomerMobileCampaignMapping"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/CustomerMobileCampaignMapping/GetCustomerMobileCampaignMappingForOnceInLifeTime": {
      "post": {
        "tags": [
          "CustomerMobileCampaignMappings"
        ],
        "operationId": "CustomerMobileCampaignMappings_GetCustomerMobileCampaignMappingForOnceInLifeTime",
        "requestBody": {
          "x-name": "customerMobileCampaignMappingRequest",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerMobileCampaignMappingRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CustomerMobileCampaignMapping"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/CustomerMobileCampaignMapping/InsertCustomerMobileCampaignMapping": {
      "post": {
        "tags": [
          "CustomerMobileCampaignMappings"
        ],
        "operationId": "CustomerMobileCampaignMappings_InsertCustomerMobileCampaignMappings",
        "requestBody": {
          "x-name": "customerMobileCampaignMappingRequest",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerMobileCampaignMappingRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerMobileCampaignMapping"
                }
              }
            }
          }
        }
      }
    },
    "/CustomerMobileCampaignMapping/UpdateCustomerMobileCampaignMapping": {
      "post": {
        "tags": [
          "CustomerMobileCampaignMappings"
        ],
        "operationId": "CustomerMobileCampaignMappings_UpdateCustomerMobileCampaignMappings",
        "requestBody": {
          "x-name": "customerMobileCampaignMappingRequest",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerMobileCampaignMappingRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/CustomerMobileCampaignMapping/UpdateCustomerMobileCampaignMappingForOncePerCampaign": {
      "post": {
        "tags": [
          "CustomerMobileCampaignMappings"
        ],
        "operationId": "CustomerMobileCampaignMappings_UpdateCustomerMobileCampaignMappingForOncePerCampaign",
        "requestBody": {
          "x-name": "customerMobileCampaignMapping",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerMobileCampaignMapping"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/CustomerMobileCampaignMapping/UpdateCustomerMobileCampaignMappingForOnceInLifeTime": {
      "post": {
        "tags": [
          "CustomerMobileCampaignMappings"
        ],
        "operationId": "CustomerMobileCampaignMappings_UpdateCustomerMobileCampaignMappingForOnceInLifeTime",
        "requestBody": {
          "x-name": "customerMobileCampaignMapping",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerMobileCampaignMapping"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/CustomerMobileCampaignMapping": {
      "get": {
        "tags": [
          "CustomerMobileCampaignMappings"
        ],
        "operationId": "CustomerMobileCampaignMappings_GetAll",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CustomerMobileCampaignMapping"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "CustomerMobileCampaignMappings"
        ],
        "operationId": "CustomerMobileCampaignMappings_Post",
        "requestBody": {
          "x-name": "t",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerMobileCampaignMapping"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerMobileCampaignMapping"
                }
              }
            }
          }
        }
      }
    },
    "/CustomerMobileCampaignMapping/{id}": {
      "get": {
        "tags": [
          "CustomerMobileCampaignMappings"
        ],
        "operationId": "CustomerMobileCampaignMappings_Get",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerMobileCampaignMapping"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "CustomerMobileCampaignMappings"
        ],
        "operationId": "CustomerMobileCampaignMappings_Put",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 1
          }
        ],
        "requestBody": {
          "x-name": "t",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerMobileCampaignMapping"
              }
            }
          },
          "required": true,
          "x-position": 2
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      },
      "delete": {
        "tags": [
          "CustomerMobileCampaignMappings"
        ],
        "operationId": "CustomerMobileCampaignMappings_Delete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/Customer/GetCustomerByLoyaltyId/{loyaltyId}": {
      "get": {
        "tags": [
          "Customers"
        ],
        "operationId": "Customers_GetCustomerByLoyaltyId",
        "parameters": [
          {
            "name": "loyaltyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Customer"
                }
              }
            }
          }
        }
      }
    },
    "/Customer/GetCustomerByMobileNumber/{MobileNumber}": {
      "get": {
        "tags": [
          "Customers"
        ],
        "operationId": "Customers_GetCustomerByMobileNumber",
        "parameters": [
          {
            "name": "MobileNumber",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponsesOfCustomer"
                }
              }
            }
          }
        }
      }
    },
    "/Customer/GetCustomerByUcIc": {
      "post": {
        "tags": [
          "Customers"
        ],
        "operationId": "Customers_GetCustomerByUcIc",
        "requestBody": {
          "x-name": "customerUcIcRequest",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerUcIcRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponsesOfCustomer"
                }
              }
            }
          }
        }
      }
    },
    "/Customer/UpdateCustomerType": {
      "post": {
        "tags": [
          "Customers"
        ],
        "operationId": "Customers_UpdateCustomerType",
        "requestBody": {
          "x-name": "customerType",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerTypeUpdate"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/Customer/UpdateCustomerStatus": {
      "post": {
        "tags": [
          "Customers"
        ],
        "operationId": "Customers_UpdateCustomerStatus",
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-position": 2
          }
        ],
        "requestBody": {
          "x-name": "fraudClearance",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FraudClearance"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/Customer/UpdateCustomerWhitelistStatus": {
      "post": {
        "tags": [
          "Customers"
        ],
        "operationId": "Customers_UpdateCustomerWhitelistStatus",
        "parameters": [
          {
            "name": "WhitelistStatus",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "x-position": 2
          }
        ],
        "requestBody": {
          "x-name": "fraudClearance",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FraudClearance"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/Customer/UpdateCustomerLobFraud": {
      "post": {
        "tags": [
          "Customers"
        ],
        "operationId": "Customers_UpdateCustomerLobFraud",
        "requestBody": {
          "x-name": "request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCustomerLobFraud"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "boolean"
                }
              }
            }
          }
        }
      }
    },
    "/Customer/UpdateCustomerWhitelist": {
      "post": {
        "tags": [
          "Customers"
        ],
        "operationId": "Customers_UpdateCustomerWhitelist",
        "parameters": [
          {
            "name": "MobileNumber",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 1
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "x-position": 2
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "boolean"
                }
              }
            }
          }
        }
      }
    },
    "/Customer/CustomerPWAProfileByMobile": {
      "get": {
        "tags": [
          "Customers"
        ],
        "operationId": "Customers_CustomerPWAProfileByMobile",
        "parameters": [
          {
            "name": "MobileNumber",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponsesOfCustomerPWA"
                }
              }
            }
          }
        }
      }
    },
    "/Customer/AddCustomerPWAProfile": {
      "post": {
        "tags": [
          "Customers"
        ],
        "operationId": "Customers_AddCustomerPWAProfile",
        "requestBody": {
          "x-name": "request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerPWAProfileRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseOfCustomerPWA"
                }
              }
            }
          }
        }
      }
    },
    "/Customer/CommunicationServiceCreate": {
      "post": {
        "tags": [
          "Customers"
        ],
        "operationId": "Customers_CommunicationServiceCreate",
        "requestBody": {
          "x-name": "communicationRequest",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CommunicationRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/Customer/GetCustomerDetail": {
      "post": {
        "tags": [
          "Customers"
        ],
        "operationId": "Customers_GetCustomerDetail",
        "requestBody": {
          "x-name": "customerUcIcRequest",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerUcIcRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Customer"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/Customer": {
      "get": {
        "tags": [
          "Customers"
        ],
        "operationId": "Customers_GetAll",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Customer"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Customers"
        ],
        "operationId": "Customers_Post",
        "requestBody": {
          "x-name": "t",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Customer"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Customer"
                }
              }
            }
          }
        }
      }
    },
    "/Customer/{id}": {
      "get": {
        "tags": [
          "Customers"
        ],
        "operationId": "Customers_Get",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Customer"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Customers"
        ],
        "operationId": "Customers_Put",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 1
          }
        ],
        "requestBody": {
          "x-name": "t",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Customer"
              }
            }
          },
          "required": true,
          "x-position": 2
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      },
      "delete": {
        "tags": [
          "Customers"
        ],
        "operationId": "Customers_Delete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/CustomerSummary/GetByUcIc": {
      "post": {
        "tags": [
          "CustomerSummary"
        ],
        "operationId": "CustomerSummary_GetByUcIc",
        "requestBody": {
          "x-name": "customerUcIcRequest",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerUcIcRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseOfCustomerSummary"
                }
              }
            }
          }
        }
      }
    },
    "/CustomerSummary/UpdateCustomerSummary": {
      "put": {
        "tags": [
          "CustomerSummary"
        ],
        "operationId": "CustomerSummary_UpdateCustomerSummary",
        "requestBody": {
          "x-name": "customerSummaryRequest",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerSummaryRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/CustomerSummary/GetCustomerSummeryPoint": {
      "post": {
        "tags": [
          "CustomerSummary"
        ],
        "operationId": "CustomerSummary_GetCustomerSummeryPoint",
        "requestBody": {
          "x-name": "customerUcIcRequest",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerUcIcRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseOfListOfCustomerSummary"
                }
              }
            }
          }
        }
      }
    },
    "/CustomerSummary/UpdatePointsOnUniqueCustomerId": {
      "post": {
        "tags": [
          "CustomerSummary"
        ],
        "operationId": "CustomerSummary_UpdatePointsOnUniqueCustomerId",
        "requestBody": {
          "x-name": "updateCustomerSummaryRequest",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCustomerSummaryRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "boolean"
                }
              }
            }
          }
        }
      }
    },
    "/CustomerSummary": {
      "get": {
        "tags": [
          "CustomerSummary"
        ],
        "operationId": "CustomerSummary_GetAll",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CustomerSummary"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "CustomerSummary"
        ],
        "operationId": "CustomerSummary_Post",
        "requestBody": {
          "x-name": "t",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerSummary"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerSummary"
                }
              }
            }
          }
        }
      }
    },
    "/CustomerSummary/{id}": {
      "get": {
        "tags": [
          "CustomerSummary"
        ],
        "operationId": "CustomerSummary_Get",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerSummary"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "CustomerSummary"
        ],
        "operationId": "CustomerSummary_Put",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 1
          }
        ],
        "requestBody": {
          "x-name": "t",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerSummary"
              }
            }
          },
          "required": true,
          "x-position": 2
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      },
      "delete": {
        "tags": [
          "CustomerSummary"
        ],
        "operationId": "CustomerSummary_Delete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/CustomerTimeline/CreateCustomerTimeline": {
      "post": {
        "tags": [
          "CustomerTimeline"
        ],
        "operationId": "CustomerTimeline_CreateCustomerTimeline",
        "requestBody": {
          "x-name": "customerTimelineRequest",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerTimelineRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerTimelineResponse"
                }
              }
            }
          }
        }
      }
    },
    "/CustomerTimeline/GetCustomerTimeline": {
      "post": {
        "tags": [
          "CustomerTimeline"
        ],
        "operationId": "CustomerTimeline_GetCustomerTimeline",
        "requestBody": {
          "x-name": "customerTimelineRequest",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerTimelineRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseWithStatusCodeMessageOfListOfCustomerTimelineResponse"
                }
              }
            }
          }
        }
      }
    },
    "/CustomerTimeline": {
      "get": {
        "tags": [
          "CustomerTimeline"
        ],
        "operationId": "CustomerTimeline_GetAll",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CustomerTimeline"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "CustomerTimeline"
        ],
        "operationId": "CustomerTimeline_Post",
        "requestBody": {
          "x-name": "t",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerTimeline"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerTimeline"
                }
              }
            }
          }
        }
      }
    },
    "/CustomerTimeline/{id}": {
      "get": {
        "tags": [
          "CustomerTimeline"
        ],
        "operationId": "CustomerTimeline_Get",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerTimeline"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "CustomerTimeline"
        ],
        "operationId": "CustomerTimeline_Put",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 1
          }
        ],
        "requestBody": {
          "x-name": "t",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerTimeline"
              }
            }
          },
          "required": true,
          "x-position": 2
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      },
      "delete": {
        "tags": [
          "CustomerTimeline"
        ],
        "operationId": "CustomerTimeline_Delete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/CustomerVoucherLedgersController/Create": {
      "post": {
        "tags": [
          "CustomerVoucherLedgers"
        ],
        "operationId": "CustomerVoucherLedgers_Create",
        "requestBody": {
          "x-name": "customerLedgerRequest",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerVoucherLedgerRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/CustomerVoucherLedgersController/GetTransactionsByType": {
      "post": {
        "tags": [
          "CustomerVoucherLedgers"
        ],
        "operationId": "CustomerVoucherLedgers_GetTransactionsByType",
        "requestBody": {
          "x-name": "request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerVoucherLedgerByTypeIdRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseWithCountOfListOfCustomerTransaction"
                }
              }
            }
          }
        }
      }
    },
    "/CustomerVoucherLedgersController/GetTransactionsByTypeId": {
      "post": {
        "tags": [
          "CustomerVoucherLedgers"
        ],
        "operationId": "CustomerVoucherLedgers_GetTransactionsByType2",
        "requestBody": {
          "x-name": "request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerVoucherLedgerByTxnTypeIdRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseWithCountOfListOfCustomerTransaction"
                }
              }
            }
          }
        }
      }
    },
    "/CustomerVoucherLedgersController/GetTransactions": {
      "post": {
        "tags": [
          "CustomerVoucherLedgers"
        ],
        "operationId": "CustomerVoucherLedgers_GetCustomerTransactions",
        "requestBody": {
          "x-name": "request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerTransactionSummaryRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseWithCountOfListOfCustomerTransaction"
                }
              }
            }
          }
        }
      }
    },
    "/CustomerVoucherLedgersController/GetLatestTransaction": {
      "post": {
        "tags": [
          "CustomerVoucherLedgers"
        ],
        "operationId": "CustomerVoucherLedgers_GetLatestTransaction",
        "requestBody": {
          "x-name": "request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MobileRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerVoucherLedger"
                }
              }
            }
          }
        }
      }
    },
    "/CustomerVoucherLedgersController/GetOneDayOldTransactions": {
      "post": {
        "tags": [
          "CustomerVoucherLedgers"
        ],
        "operationId": "CustomerVoucherLedgers_GetOneDayOldTransactions",
        "parameters": [
          {
            "name": "skip",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CustomerVoucherLedger"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/CustomerVoucherLedgersController/GetOldTransactionsByDate": {
      "post": {
        "tags": [
          "CustomerVoucherLedgers"
        ],
        "operationId": "CustomerVoucherLedgers_GetOldTransactionsByDate",
        "parameters": [
          {
            "name": "skip",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-position": 1
          },
          {
            "name": "startDate",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 2
          },
          {
            "name": "endDate",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 3
          },
          {
            "name": "noOfDays",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-position": 4
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CustomerVoucherLedger"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/CustomerVoucherLedgersController/GetOldTransactionsByDateAndFilter": {
      "post": {
        "tags": [
          "CustomerVoucherLedgers"
        ],
        "operationId": "CustomerVoucherLedgers_GetOldTransactionsByDateAndFilter",
        "parameters": [
          {
            "name": "skip",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-position": 1
          },
          {
            "name": "startDate",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 2
          },
          {
            "name": "endDate",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 3
          },
          {
            "name": "noOfDays",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-position": 4
          },
          {
            "name": "reportType",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 5
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CustomerVoucherLedger"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/CustomerVoucherLedgersController/GetTwoDayOldTransactions": {
      "post": {
        "tags": [
          "CustomerVoucherLedgers"
        ],
        "operationId": "CustomerVoucherLedgers_GetTwoDayOldTransactions",
        "parameters": [
          {
            "name": "skip",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CustomerVoucherLedger"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/CustomerVoucherLedgersController": {
      "get": {
        "tags": [
          "CustomerVoucherLedgers"
        ],
        "operationId": "CustomerVoucherLedgers_GetAll",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CustomerVoucherLedger"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "CustomerVoucherLedgers"
        ],
        "operationId": "CustomerVoucherLedgers_Post",
        "requestBody": {
          "x-name": "t",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerVoucherLedger"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerVoucherLedger"
                }
              }
            }
          }
        }
      }
    },
    "/CustomerVoucherLedgersController/{id}": {
      "get": {
        "tags": [
          "CustomerVoucherLedgers"
        ],
        "operationId": "CustomerVoucherLedgers_Get",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerVoucherLedger"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "CustomerVoucherLedgers"
        ],
        "operationId": "CustomerVoucherLedgers_Put",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 1
          }
        ],
        "requestBody": {
          "x-name": "t",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerVoucherLedger"
              }
            }
          },
          "required": true,
          "x-position": 2
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      },
      "delete": {
        "tags": [
          "CustomerVoucherLedgers"
        ],
        "operationId": "CustomerVoucherLedgers_Delete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/FraudReward/CreateFraudRewardArchive": {
      "post": {
        "tags": [
          "ETLArchive"
        ],
        "operationId": "ETLArchive_CreateFraudRewardArchive",
        "requestBody": {
          "x-name": "fraudRewardArchive",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ETLFraudRewardArchive"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ETLFraudRewardArchive"
                }
              }
            }
          }
        }
      }
    },
    "/FraudReward/CreateTempRewardArchive": {
      "post": {
        "tags": [
          "ETLArchive"
        ],
        "operationId": "ETLArchive_CreateTempRewardArchive",
        "requestBody": {
          "x-name": "tempRewardArchive",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ETLTempRewardArchive"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ETLTempRewardArchive"
                }
              }
            }
          }
        }
      }
    },
    "/FraudReward/CreateFraudLockRewardsArchive": {
      "post": {
        "tags": [
          "ETLArchive"
        ],
        "operationId": "ETLArchive_CreateFraudLockRewardsArchive",
        "requestBody": {
          "x-name": "eTLFraudLockRewardArchive",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ETLFraudLockRewardArchive"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ETLFraudLockRewardArchive"
                }
              }
            }
          }
        }
      }
    },
    "/ETLTransaction/DeleteRecordFromEtlTransaction": {
      "post": {
        "tags": [
          "ETLTransaction"
        ],
        "operationId": "ETLTransaction_DeleteRecordFromEtlTransaction",
        "parameters": [
          {
            "name": "campaignId",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponsesOfString"
                }
              }
            }
          }
        }
      }
    },
    "/FraudReward/MoveTripleFraudRewardToTemp": {
      "post": {
        "tags": [
          "FraudRewards"
        ],
        "operationId": "FraudRewards_MoveTripleFraudRewardToTemp",
        "requestBody": {
          "x-name": "request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BundleTripleRewardRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponsesOfBoolean"
                }
              }
            }
          }
        }
      }
    },
    "/FraudReward/RemoveReward": {
      "post": {
        "tags": [
          "FraudRewards"
        ],
        "operationId": "FraudRewards_RemoveReward",
        "requestBody": {
          "x-name": "fraudClearance",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FraudClearance"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "boolean"
                }
              }
            }
          }
        }
      }
    },
    "/FraudReward/ArchiveAndRemoveReward": {
      "post": {
        "tags": [
          "FraudRewards"
        ],
        "operationId": "FraudRewards_ArchiveAndRemoveReward",
        "requestBody": {
          "x-name": "fraudClearance",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FraudClearance"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
[...]
